.cardplace {
  height: auto;
  width: 1000px;
  align-content: center;
  margin-left: 28%;
  text-align: center;
}

.Save-butt {
  margin-left: 100px;
  border: solid;
  border-radius: 0.2rem;
}

.Link-butt {
  margin-right: 280px;
  background-color: white (0.8);
  border: solid 1px;
  border-radius: 0.2rem;
  padding: 2px;
  color: "black";
  font-family: "Arial";
  font-size: "17px";
}
