.cardplace {
  height: auto;
  width: 1000px;
  align-content: center;
  margin-left: 28%;
  text-align: center;
}

.Save-butt {
  margin-left: 100px;
  border: solid;
  border-radius: 0.2rem;
  width: 150px;
}

.Link-butt {
  margin-right: 280px;
  background-color: white (0.8);
  border: solid 1px;
  border-radius: 0.2rem;
  padding: 5px;
  color: black !important;
  font-family: Arial;
  font-size: 17px;
  width: 150px;
}

.Link-butt:hover {
  text-decoration: none !important;
  background-color: rgb(191, 191, 191) !important;
}

.Save-butt:hover {
  background-color: rgb(191, 191, 191) !important;
}

@media screen and (max-width: 960px) {
  .cardplace {
    margin-left: 0px;
    width: 95vw;
  }
  .Link-butt {
    width: 90vw;
    margin: 0px auto;
    float: left;
    margin-bottom: 10px;
    height: 37px;
    padding: 6px;
  }
  .Save-butt {
    clear: both;
    margin-left: 0;
    width: 89vw;
  }
  .float-right {
    float: none;
  }
}