.Add {
    background-color: rgba(255, 255, 255, 0.534);
    text-align: center;
    padding-top: 2px;
}

.buut{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    padding: 6px 12px;
    border-radius: 7%;
}

.CB {
    background-color: rgba(255, 255, 255, 0.534);
    text-align: center;
    padding-top: 1px;
    

}

.create{
    padding: 3%;
    font-size: 18px;
    font-family: Arial, sans-serif;
    background: linear-gradient(100deg, rgb(161, 161, 161) 0%, rgb(0, 0, 0) 100%);  
}

.enter-recipe{
    background: linear-gradient(100deg, rgb(161, 161, 161) 0%, rgb(0, 0, 0) 100%);
    color: white;
}