.Add {
    background-color: rgba(255, 255, 255, 0.534);
    text-align: center;
    padding-top: 2px;
}

.buut{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    padding: 6px 12px;
    border-radius: 7%;
}

.CB {
    background-color: rgba(255, 255, 255, 0.534);
    text-align: center;
    padding-top: 2px;
}