<<<<<<< HEAD
.Ps {
=======
/* p {
>>>>>>> c026b719a9a5044e573b69a1cb4509c691578050
    text-align: center;
    width: 35%;
    margin-left: 30%;
} */

<<<<<<< HEAD
.Hs{
=======
/* h1, h3{
>>>>>>> c026b719a9a5044e573b69a1cb4509c691578050
    text-align: center;
    width: 45%;
    margin-left: 25%;
    
<<<<<<< HEAD
}

.post {
    min-width: 275px;
    max-width: 500px;
    margin: 15px;
    padding: 10px;
  }

  .logout {
    background-color: black;
    color: white;
    border-radius: 10%;
    letter-spacing: 1.5px;
    padding: 5px;

  }

  .Fed{
    text-align: center;
  }

  .StreamApp {
width: 30%;
  }
=======
} */
>>>>>>> c026b719a9a5044e573b69a1cb4509c691578050
