.Sub {
    background-color: rgba(255, 255, 255, 0.80);
    text-align: center;
    padding-right: 5px;
    padding-left: 10px;
    width: 104%;
}

.import-button {
    margin-bottom: 10px;
}

@media screen and (max-width: 960px) {
    .Sub {
        width: 100%;
    }
}
